body {
  background-color: #7f4488;
  color: white;
  font-family: heliumRegularFont;
}

@font-face {
  font-family: heliumRegularFont;
  src: url(fonts/heliumRegular.ttf);
}

h1 {
  font-size: 2.7em;
}
h2 {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

.indhold {
  text-align: center;
}

img {
  width: 90%;
}

.start {
  background-color: #eaa900;
  color: white;
  font-family: heliumRegularFont;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  margin: 4px 2px;
  border-radius: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.start:hover {
  background-color: #ffbf1d;
  color: white;
  cursor: pointer;
}

/* NAV */

nav img {
  padding-left: 5vw;
  margin-top: -1vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

nav .login {
  margin-top: -2vw;
  float: right;
}

/* burger menu */

a {
  text-decoration: none;
  color: #232323;
}

#menuToggle {
  display: block;
  position: relative;
  top: 3vw;
  left: 3vw;
  z-index: 1;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  left: -20px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: white;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: 2vw 0 0 -70px;
  padding: 50px;
  padding-top: 10px;

  background: #ededed;
  list-style-type: none;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

/* ------ form --------- */

input[type="text"],
select {
  width: 40%;
  padding: 12px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 2vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.infografik {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 5vw;
}

/**-- SVG'EN TIL SPILLET --**/
.cls-1 {
  fill: #ee7e58;
}

.cls-2 {
  fill: #f99061;
}

.cls-3 {
  fill: #db6742;
}

.cls-4 {
  fill: #fea63a;
}

.cls-5,
.cls-58 {
  fill: #ffd845;
}

.cls-6 {
  fill: #ffd687;
}

.cls-7 {
  fill: #fff;
}

.cls-8 {
  opacity: 0.28;
}

.cls-9 {
  opacity: 0.7;
}

.cls-10 {
  fill: url(#sun_gradient);
}

.cls-11 {
  fill: url(#water_gradient);
}

.cls-12 {
  fill: #fbfdfd;
}

.cls-13 {
  fill: #a07138;
}

.cls-14 {
  fill: #91662d;
}

.cls-15,
.cls-16,
.cls-17,
.cls-19,
.cls-27,
.cls-28,
.cls-33,
.cls-44,
.cls-54 {
  fill: none;
}

.cls-15 {
  stroke: #7c562c;
}

.cls-15,
.cls-16,
.cls-17,
.cls-19,
.cls-20,
.cls-21,
.cls-27,
.cls-28,
.cls-33,
.cls-54 {
  stroke-miterlimit: 10;
}

.cls-16,
.cls-17 {
  stroke: #8c6133;
}

.cls-17,
.cls-33 {
  stroke-linecap: round;
}

.cls-18 {
  fill: #a87f4e;
}

.cls-19 {
  stroke: #936c42;
}

.cls-20 {
  fill: #161616;
}

.cls-20,
.cls-21 {
  stroke: #000;
}

.cls-21 {
  fill: #262626;
}

.cls-22 {
  fill: #87807a;
}

.cls-23 {
  fill: #9b9795;
}

.cls-24 {
  fill: #bcbbbb;
}

.cls-25 {
  fill: #c99561;
}

.cls-26 {
  fill: #a57850;
}

.cls-27 {
  stroke: #b58457;
}

.cls-28 {
  stroke: #896245;
}

.cls-29 {
  fill: #171a1b;
}

.cls-30 {
  fill: #212020;
}

.cls-31 {
  fill: #272828;
}

.cls-32 {
  fill: #444;
}

.cls-33 {
  stroke: #f4eed7;
  stroke-width: 4px;
}

.cls-34 {
  fill: #f7d854;
}

.cls-35 {
  fill: #f4eed7;
}

.cls-36 {
  fill: #f9a24b;
}

.cls-37 {
  fill: #ef6a30;
}

.cls-38 {
  fill: #96604b;
}

.cls-39 {
  fill: #1c475a;
}

.cls-40 {
  fill: #854623;
}

.cls-41 {
  fill: #74371a;
}

.cls-42 {
  fill: #622e14;
}

.cls-43 {
  fill: #d49727;
}

.cls-45 {
  fill: #803a1a;
}

.cls-46 {
  fill: #b5811c;
}

.cls-47 {
  fill: #23231d;
}

.cls-48 {
  fill: #050505;
}

.cls-49 {
  fill: #484138;
}

.cls-50 {
  fill: #292927;
}

.cls-51 {
  fill: #f9f9f8;
}

.cls-52 {
  fill: #070700;
}

.cls-53 {
  fill: #33332d;
}

.cls-54 {
  stroke: #33332d;
  stroke-width: 1.27px;
}

.cls-55 {
  fill: #020202;
}

.cls-56 {
  fill: #1b1b15;
}

.cls-57 {
  fill: #184840;
}

.cls-58,
.cls-61,
.cls-62 {
  isolation: isolate;
}

.cls-59 {
  fill: #f2eec9;
}

.cls-60 {
  fill: #918e73;
}

.cls-61 {
  font-size: 14.43px;
}

.cls-61,
.cls-62 {
  fill: #361a00;
  font-family: OpenSans-Bold, Open Sans;
  font-weight: 700;
}

.cls-62 {
  font-size: 14.43px;
}
