body {
  background-color: #7f4488;
  color: white;
  font-family: heliumRegularFont;
  margin: 0;
}

@font-face {
  font-family: heliumRegularFont;
  src: url(fonts/heliumRegular.ttf);
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.4em;
  font-family: "Open Sans", sans-serif;
}

h3 {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.4em;
}

.goldtext {
  color: #eaa900;
}

.indhold {
  padding-top: 5vw;
  text-align: center;
}

.indhold img {
  width: 90%;
  max-width: 600px;
}

button {
  background-color: #eaa900;
  color: white;
  font-family: heliumRegularFont;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  margin: 20px 2px;
  border-radius: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: white;
}

.start:hover {
  background-color: #ffbf1d;
  color: white;
  cursor: pointer;
}

/*  LISTE */

.liste h2 {
  margin-top: 40px;
}

.liste article {
  display: grid;
  margin-right: 5vw;
  margin-left: 5vw;
}

@media screen and (min-width: 580px) {
  .liste article {
    padding-left: 5vw;
    grid-gap: 2vw;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(1, 1fr);
    border: 1px solid black;
  }
}

/* NAV */

nav img {
  padding-left: 80px;
  margin-top: -1vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

nav .login {
  margin-top: -28px;
  margin-right: 20px;
  float: right;
}

/* burger menu */

#menu a {
  text-decoration: none;
  color: #232323;
}

#menuToggle {
  display: block;
  position: relative;
  top: 20px;
  left: 3vw;
  z-index: 1;
  max-width: 80vw;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  left: -20px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: white;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu {
  position: absolute;
  width: 300px;
  margin: 2vw 0 0 -70px;
  padding: 50px;
  padding-top: 10px;

  background: #ededed;
  list-style-type: none;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 10px;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */

#menuToggle input:checked ~ ul {
  transform: none;
}

/* ------ form --------- */

input[type="text"],
input[type="email"],
select {
  width: 40%;
  padding: 12px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 2vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.infografik img {
  display: block;
  margin: 30px auto;
  width: 300px;
  max-width: 800px;
}

/* ------ FOOTER --------- */

footer {
  display: grid;
  grid-template-rows: auto auto;
  font-family: "Open Sans", sans-serif;
}
address {
  font-style: normal;
}
.top-f {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 20px;
  border-top: 1px solid white;
  margin-top: 30px;
}
.nav-tf {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
}

.under-f {
  display: inline;
  text-align: center;
  background-color: white;
  padding: 20px 0;
}

footer button {
  background-color: white;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}
.under-f img {
  height: 100px;
}

@media screen and (max-width: 950px) {
  .top-f {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .nav-tf {
    grid-row: 1/2;
  }

  address {
    border-top: 1px solid white;
    grid-row: 2/3;
    padding-top: 10px;
  }
  .contact-tf {
    grid-row: 3/4;
  }

  .top-f {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
/* ------ SPILSIDEN --------- */

#spilsiden {
  margin: 0;
}

/**-- FØR SPILLET --**/

#game_explainer {
  background-color: white;
  color: black;
  position: absolute;
  width: 280px;
  top: 18vh;
  text-align: center;
  transition: 1s;
  padding: 20px;
  left: 30px;
}

#game_explainer ul {
  text-align: left;
}

#ready {
  background-color: #eaa900;
  color: white;
  font-family: heliumRegularFont;
  padding: 12px 32px;
  text-align: center;
  font-size: 1.5em;
  margin: 4px 2px;
  border-radius: 4px;
  cursor: pointer;
}

/**-- SVG'EN TIL SPILLET --**/

.svgbox {
  margin: 0 auto;
  position: relative;
  width: 375px;
}

svg {
  position: relative;
  opacity: 0.3;
  border: 3px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cls-1 {
  fill: #99d7e4;
}

.cls-2 {
  fill: #019aba;
}

.cls-3 {
  fill: #fcfdfd;
}

.cls-4 {
  fill: #fbfcfd;
}

.cls-5 {
  fill: url(#radial-gradient);
}

.cls-52,
.cls-6 {
  fill: #60bec4;
}

.cls-7 {
  fill: #9f7138;
}

.cls-8 {
  fill: #90662d;
}

.cls-10,
.cls-11,
.cls-13,
.cls-19,
.cls-20,
.cls-27,
.cls-38,
.cls-48,
.cls-9 {
  fill: none;
}

.cls-9 {
  stroke: #7c562c;
}

.cls-10,
.cls-11,
.cls-13,
.cls-19,
.cls-20,
.cls-21,
.cls-22,
.cls-27,
.cls-48,
.cls-9 {
  stroke-miterlimit: 10;
}

.cls-10,
.cls-11,
.cls-13,
.cls-9 {
  stroke-width: 1.01px;
}

.cls-10,
.cls-11 {
  stroke: #8b6133;
}

.cls-11,
.cls-27 {
  stroke-linecap: round;
}

.cls-12 {
  fill: #a77f4e;
}

.cls-13 {
  stroke: #926c42;
}

.cls-14 {
  fill: #86807a;
}

.cls-15 {
  fill: #9a9694;
}

.cls-16 {
  fill: #bbbaba;
}

.cls-17 {
  fill: #c89461;
}

.cls-18 {
  fill: #a47850;
}

.cls-19 {
  stroke: #b48357;
}

.cls-20 {
  stroke: #886245;
}

.cls-21 {
  fill: #161616;
}

.cls-21,
.cls-22 {
  stroke: #000;
}

.cls-22 {
  fill: #262626;
}

.cls-23 {
  fill: #171a1b;
}

.cls-24 {
  fill: #212020;
}

.cls-25 {
  fill: #272828;
}

.cls-26 {
  fill: #444;
}

.cls-27 {
  stroke: #f3edd6;
  stroke-width: 4px;
}

.cls-28 {
  fill: #f6d754;
}

.cls-29 {
  fill: #f3edd6;
}

.cls-30 {
  fill: #f8a14b;
}

.cls-31 {
  fill: #ee6a30;
}

.cls-32 {
  fill: #95604b;
}

.cls-33 {
  fill: #1c475a;
}

.cls-34 {
  fill: #844623;
}

.cls-35 {
  fill: #74371a;
}

.cls-36 {
  fill: #622e14;
}

.cls-37 {
  fill: #d39627;
}

.cls-39 {
  fill: #803a1a;
}

.cls-40 {
  fill: #b4801c;
}

.cls-41 {
  fill: #23231d;
}

.cls-42 {
  fill: #050505;
}

.cls-43 {
  fill: #484138;
}

.cls-44 {
  fill: #292927;
}

.cls-45 {
  fill: #f8f8f7;
}

.cls-46 {
  fill: #070700;
}

.cls-47 {
  fill: #33332d;
}

.cls-48 {
  stroke: #33332d;
  stroke-width: 1.27px;
}

.cls-49 {
  fill: #020202;
}

.cls-50 {
  fill: #1b1b15;
}

.cls-51 {
  fill: #184840;
}

.cls-52 {
  opacity: 0.7;
}

.cls-53 {
  fill: #ffd745;
}

.cls-53,
.cls-56,
.cls-57,
.cls-58,
.cls-59 {
  isolation: isolate;
}

.cls-54 {
  fill: #f1edc8;
}

.cls-55 {
  fill: #908d73;
}

.cls-56,
.cls-58 {
  font-size: 14.43px;
}

.cls-56,
.cls-57,
.cls-58,
.cls-59 {
  fill: #361a00;
}

.cls-56,
.cls-57 {
  font-family: OpenSans-Bold, OpenSans Bold;
  font-weight: 700;
}

.cls-57,
.cls-59 {
  font-size: 14.43px;
}

.cls-58,
.cls-59 {
  font-family: MyriadPro-Regular, Myriad Pro;
}

/**-- ekstra til svg'en --**/

.sunshine {
  filter: url(#sun_blur);
}

/* Kanonen skal dreje fra side til side. */

#cannon {
  transform: rotate(-30deg);
  transform-origin: 50% 95%;
  transform-box: fill-box;
  cursor: pointer;
  pointer-events: none;
  animation: cannon_kf 5s linear infinite alternate;
}

@keyframes cannon_kf {
  0% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(30deg);
  }
}

/* gør at man kan se kanonkuglen blive skudt afsted */

#cannonball {
  position: absolute;
  transform: translate(0, 0);
  transition: transform 1s ease-in;
}

/* hitship dækker over de illustrationer der kommer når man rammer et skib */

/* de skal være skjulte til at starte med */

.hitship {
  visibility: hidden;
}

/*får skibene til at gynge lidt i vandet*/

#ship1 {
  transform: rotate(-3deg);
  animation: ship1_kf 3s linear infinite alternate;
  transform-origin: 50% 100%;
  transform-box: fill-box;
}

#ship3 {
  transform: rotate(-3deg);
  animation: ship1_kf 6s linear infinite alternate;
  transform-origin: 50% 100%;
  transform-box: fill-box;
}

@keyframes ship1_kf {
  0% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

#ship2 {
  transform: rotate(-7deg);
  animation: ship2_kf 2s linear infinite alternate;
  transform-origin: 50% 100%;
  transform-box: fill-box;
}

@keyframes ship2_kf {
  0% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(-8deg);
  }
}

/* Når kanonen rammer vandet */

#hits_water {
  position: absolute;
  background-image: url(svg/splask_vand.svg);
  width: 67.33px;
  height: 49px;
  top: 342px;
  left: 85px;
  background-size: 400%;
  display: none;
}

.splash {
  animation: splash_kf 1s steps(4) 1;
}

@keyframes splash_kf {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -400%;
  }
}

.cloud1 {
  animation: cloud1_kf 15s infinite ease-in-out;
}

.cloud2 {
  animation: cloud2_kf 13s infinite ease-in-out;
  animation-delay: 8s;
  transform: translateX(-380px);
}

.cloud3 {
  animation: cloud3_kf 20s infinite ease-in-out;
  animation-delay: 7s;
  transform: translateX(-200px);
}

.cloud4 {
  animation: cloud4_kf 16s infinite ease-in-out;
}

@keyframes cloud1_kf {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(200px);
  }
}

@keyframes cloud2_kf {
  0% {
    transform: translateX(-380px);
  }
  100% {
    transform: translateX(100px);
  }
}

@keyframes cloud3_kf {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(400px);
  }
}

@keyframes cloud4_kf {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(300px);
  }
}
/**-- hånd --**/
#haand {
  position: absolute;
  background-image: url(svg/haand.svg);
  top: 625px;
  left: 153px;
  width: 167.86px;
  height: 146.36px;
  animation: haand_kf 0.5s infinite alternate;
  display: none;
  pointer-events: none;
}
@keyframes haand_kf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/** RØGSKY **/

#smoke {
  position: absolute;
  background-image: url(svg/Smoke2.svg);
  top: 580px;
  left: 70px;
  width: 250px;
  height: 250px;
  background-size: 400%;
  display: none;
  animation: smoke_kf 0.5s steps(4) 1;
}

@keyframes smoke_kf {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -400%;
  }
}

/**-- Når man er færdig med spillet--**/

#end_of_game {
  background-color: white;
  color: black;
  position: absolute;
  width: 300px;
  /* height: 550px; */
  height: auto;
  top: 50px;
  text-align: center;
  visibility: hidden;
  transition: 1s;
  opacity: 0;
  padding: 10px;
  left: 30px;
}

#prize {
  font-size: 1.6em;
}

#slut_spil_2 {
  display: none;
}

#result {
  color: #eaa900;
}

#email {
  width: 200px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  font-size: 0.8em;
  height: 1em;
  width: 1em;
  border: 1px solid grey;
  border-radius: 20%;
  position: relative;
  /* vertical-align: -2px; */
}

input[type="checkbox"]::before {
  content: "✔";
  width: 1px;
  right: 10px;
  position: absolute;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  visibility: visible;
}

input:focus {
  outline: none;
}

.check_validation:invalid {
  border: 1px solid red;
  background-color: rgb(255, 239, 239);
}

.check_validation:valid {
  border: 1px solid #eaa900;
  background-color: #fdecbf;
}

#kiste {
  width: 150px;
}

#wrongMail {
  color: red;
}

.obs {
  font-size: 0.8em;
}

/* ved 0 point */
#retryGame {
  background-color: white;
  color: black;
  position: absolute;
  width: 300px;
  height: auto;
  top: 15vh;
  text-align: center;
  visibility: hidden;
  transition: 1s;
  opacity: 0;
  padding: 10px;
  left: 30px;
}

/* baggrundsanimationer */

#wheel {
  position: absolute;
  width: 100px;
  height: 100px;
  animation: wheel_kf 1s infinite;
  animation: wheel_kf 2s infinite alternate ease;
  display: none;
}

@keyframes wheel_kf {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#crab {
  position: absolute;
  top: 80px;
  margin-left: 20px;
  /* right: 30px; */
  background-image: url(svg/crab.svg);
  width: 70px;
  height: 95px;
  background-size: 400%;
  animation: crab_kf 1s steps(4) infinite;
  display: inline-block;
}

@keyframes crab_kf {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -400%;
  }
}
@media screen and (min-width: 700px) {
  #crab {
    top: 90px;
  }
}

@media screen and (min-width: 900px) {
  .indhold {
    padding-top: 5vw;
    margin-bottom: 47vw;
  }
  .content_højre {
    margin-left: 2vw;
    float: left;
    width: 41%;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 5vw;
    margin-top: 4.5vw;
    padding-right: 2vw;
    background-color: #672d70;
    text-align: left;
  }
  .content_venstre {
    float: right;
    width: 48%;
  }

  input[type="text"] {
    margin-left: 0px;
  }
  #crab {
    top: 110px;
  }
}

@media screen and (min-width: 1000px) {
  #crab {
    top: 140px;
  }
}

.buttoncontainer {
  z-index: inherit;
  top: -10px;
  left: 250px;
  position: absolute;
}
